@{
    ViewData["Title"] = "Home Page";
}
@{
    Layout = "_Layout";
}


<div  class="map">
    <div class="jobOfferListPanel">

        <ul>
            @for (int i = 0; i < 20; i++)
            {
                <li>
                    <div class="listElement">
                        <div class="logo">
                            @if (i % 2 == 0)
                            {
                                <img class="logoImg" src="~/img/netflix.png">
                            }
                            else if (i % 3 == 0)
                            {
                                <img class="logoImg" src="~/img/microsoft.png">
                            }
                            else
                            {
                                <img class="logoImg" src="~/img/rybnik.png">
                            }
                        </div>
                        @*<div class="logo">logo</div>*@
                        <div class="title">Przedstawiciel handlowy - IT</div>
                        <div class="salary">5000 - 7000</div>

                        <div class="companyName">Microsoft</div>
                        <div class="location">Warszawa</div>
                        <div class="industry">IT</div>
                        <div class="clientType">B2C</div>
                        <div class="position">Przedstawiciel handlowy</div>
                    </div>
                </li>
            }
        </ul>

    </div>
    <div id="idmap" class="idmap"></div>
        @*<div class="rightPanel">*@

            <div class="listButtons">
                <a class="addOfferButton" asp-controller="Candidates" asp-action="MyProfile">kandydaci</a>
                <a class="filterButton" asp-controller="Employers" asp-action="MyProfile">pracodawcy</a>
               
            </div>

            <div class="signButtons">
                <button class="signIn">Zaloguj się</button>
                <button class="signUp">Zarejestruj się</button>
            </div>
        @*</div>*@
    </div>
    <script type="text/javascript">
        var map = new ol.Map({
            target: 'idmap',
            layers: [
                new ol.layer.Tile({
                    source: new ol.source.OSM()
                })
            ],
            view: new ol.View({
                center: ol.proj.fromLonLat([37.41, 8.82]),
                zoom: 4
            })
        });
    </script>
