@{
    ViewData["Title"] = "Home Page";
}
@*@{
        Layout = "_Layout";
    }*@


<div class="map">
    <div class="jobOfferListPanel">
        @*<div>*@
            <button class="addOfferButton">+ Dodaj ogłoszenie</button>
            <button class="filterButton">Filtry</button>
        @*</div>
        <div class="jobOfferListScrollPanel">*@
            <ul>
                @for (int i = 0; i < 10; i++)
                {
                    <li>
                        <div class="listElement">

                            <div class="logo">logo</div>
                            <div class="title">Przedstawiciel handlowy - IT</div>
                            <div class="salary">5000 - 7000</div>

                            <div class="companyName">Microsoft</div>
                            <div class="location">Warszawa</div>
                            <div class="industry">IT</div>
                            <div class="clientType">B2C</div>
                            <div class="position">Przedstawiciel handlowy</div>
                        </div>
                    </li>
                }
            </ul>
        @*</div>*@
    </div>
    <div class="rightPanel">
        <button class="signIn">Zaloguj się</button>
        <button class="signUp">Zarejestruj się</button>
        
    </div>
</div>
